<nav id="menu">
	<% if current_refinery_user.site_id.present? %>

    <% ::Refinery::Plugins.active.in_menu.each do |plugin| -%>
			<% case plugin.title %>
		    <%  when 'Sites' %>
	        <%= link_to "#{t('views.refinery.admin.menu.sites')}", refinery.url_for(plugin.url),
	                    :class => ("active" if plugin.highlighted?(params)),
	                    :id => "plugin_#{plugin.name}" %>
				<%  when 'Users' %>
	        <%= link_to "#{t('views.refinery.admin.menu.editors')}", refinery.url_for(plugin.url),
	                    :class => ("active" if plugin.highlighted?(params)),
	                    :id => "plugin_#{plugin.name}" %>
				<% else %>
	        <%= link_to plugin.title, refinery.url_for(plugin.url),
	                    :class => ("active" if plugin.highlighted?(params)),
	                    :id => "plugin_#{plugin.name}" %>
			<% end %>
	<% end -%>

  <% else %>
	  <% ::Refinery::Plugins.active.in_menu.each do |plugin| -%>
			<% if plugin.title == 'Users' && (session[:current_site].present? && (session[:current_site] != -1)) %>
        <%= link_to "#{t('views.refinery.admin.menu.editors')}", refinery.url_for(plugin.url),
                    :class => ("active" if plugin.highlighted?(params)),
                    :id => "plugin_#{plugin.name}" %>
			<% else %>
		    <%= link_to plugin.title, refinery.url_for(plugin.url),
		                :class => ("active" if plugin.highlighted?(params)),
		                :id => "plugin_#{plugin.name}" %>
      <% end -%>
		<% end -%>
	  <% if ::Refinery::Plugins.active.in_menu.many? -%>
	    <%= link_to refinery_icon_tag('arrow_switch.png'), "",
	                :id => "menu_reorder",
	                :title => t('.reorder_menu') %>

	    <%= link_to refinery_icon_tag('tick.png'), "",
	                :id => "menu_reorder_done",
	                :title => t('.reorder_menu_done'),
	                :style => "display: none;" %>
	  <% end %>
  <% end %>
</nav>
