<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% content_for :meta, "<meta refinerycms='#{Refinery.version}' />".html_safe %>
  <%= render 'refinery/admin/head' %>
  <body class="<%= action_name %> <%= I18n.locale %>">
  <div id='tooltip_container'></div>
  <header id="header">
      <%= render 'refinery/admin/menu' %>
    </header>
    <div id="admin-header">
      <div class="site-infos">
        <% unless (session[:current_site_name].nil? || (session[:current_site] == -1))  %>
        <div class="site-name"><%= session[:current_site_name] %></div>
          <%= link_to ' [close]',
                      refinery.close_sites_admin_site_url(session[:current_site_name]) %>
				<% end %>
      </div>
      <div class="login-infos">
		      Logged in as <%= current_refinery_user.to_s %> | <%= link_to 'Logout', refinery.destroy_refinery_user_session_path, :id => 'logout' %>
			</div>
    </div>
    <div id="page_container">
      <div id="page">
        <div id="content" class="clearfix">
          <div id="flash_container">
            <%= render '/refinery/no_script' %>
            <%= render '/refinery/message' %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
